.home-wrapper {
    margin-top:  30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    display: inline-block;
}

.home-inner {
    background: #ffffff;
    border-radius: 15px;
    transition: all .3s;
    width: 700px;
    height: 450px;
    padding: 10px;
}

.home-wrapper h3{
    text-align: left;
}

.home-wrapper h4{
    text-align: center;
}

#home-image {
 width: 575px;
 height: 350px;
 border-radius: 20px;
 padding: 10px;
}