.accidents-manager-wrapper {
    margin-top:  40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
    height: 100%;
}

.accidents-manager-inner {
    background: #ffffff;
    padding: 40px 55px 40px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.accidents-manager-wrapper-guilty-oc {
    margin-top:  30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    display: inline-block;
    width: 50%;
}

.accidents-manager-inner-guilty-oc {
    background: #ffffff;
    padding: 40px 55px 40px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.accidents-manager-user {
    margin-top:  30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    display: inline-block;
    width: 40%;
}

.accidents-inner-user {
    background: #ffffff;
    border-radius: 15px;
    padding: 40px 55px 40px 55px;
    transition: all .3s;
}

#new-accident-icon{
    width: 100%;
    text-align: center;
}