.new-policy-wrapper {
    margin-top:  30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    display: inline-block;
    width: 50%;
}

.new-policy-inner {
    background: #ffffff;
    padding: 40px 55px 40px 55px;
    border-radius: 15px;
    transition: all .3s;
}

#new-policy-icon{
    width: 100%;
}