.auth-wrapper {
  margin-top:  80px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 40%;
  height: 100%;
}

.auth-inner {
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

#menu-logo{
  width: 200px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}